<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416059263512-fdpv5aogock81djri3skaaefctig7e1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416059263512-fdpv5aogock81djri3skaaefctig7e1a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>416059263512-h3hnh3s44e36vvpak9g653ksla48bhna.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0CTtDGWb3S89TkqDe6J5Y4MJcqKI8O98</string>
	<key>GCM_SENDER_ID</key>
	<string>416059263512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teguhharits.bliguh</string>
	<key>PROJECT_ID</key>
	<string>bliguh</string>
	<key>STORAGE_BUCKET</key>
	<string>bliguh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416059263512:ios:985974eaa219758917916d</string>
</dict>
</plist>