<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666503216611-lrgs93faojimqe1bvinekkdaeh321r3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666503216611-lrgs93faojimqe1bvinekkdaeh321r3v</string>
	<key>API_KEY</key>
	<string>AIzaSyB9q9pe3c27w5qEU9cdqKMURacF8ZxEFr0</string>
	<key>GCM_SENDER_ID</key>
	<string>666503216611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teguhharits.bliguh</string>
	<key>PROJECT_ID</key>
	<string>modular-robot-416001</string>
	<key>STORAGE_BUCKET</key>
	<string>modular-robot-416001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666503216611:ios:9b266ac3a9389dc0e634d6</string>
	<key>DATABASE_URL</key>
	<string>https://modular-robot-416001-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>